/* Add screen styles below */
body {
    background: #9C89B8; 
    margin-top: 100px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    background: #F0E6EF;
    color: #37323E;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

ul {
    list-style-type: square;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card div {
    padding: 20px;
}

h1 {
    background: #F0A6CA;
    margin: 0;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

img {
    float: left;
    margin-right: 20px;
}